* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  color: #333;
}

#search {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  input,
  button {
    padding: 1rem;
    border: 0;
    outline: 0;

    &:focus {
      outline: none;
      border: none;
    }
  }

  input {
    width: 50%;
    color: #fff;
    font-weight: 900;
    font-size: 1.1rem;
    background: transparent;

    &::placeholder {
      font-size: 1rem;
      color: #fff;
    }

    &:focus {
      border-top: 2px solid #fff;
    }
  }

  button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 1.1rem;
  }
}

#result {
  margin: 5rem auto;
  color: #fff;
  animation: popout transform 2s ease-in;

  img {
    height: 64px;
  }

  .icon {
    font-size: 2.5rem;
  }

  .thermo {
    transform: rotate(30deg);
  }

  .card-body {
    color: #333;
  }
}

@keyframes popout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}